.col-md-4 {
  padding-right: 0;

  .user-imageContainer {
    display: inline;
    margin: 20px;
    align-items: center;

    .user-image {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
    }
  }
  .paper-container {
    margin-left: 12px;
    margin-bottom: 20px;
    box-shadow: whitesmoke;
  }
}
