@mixin background-color {
  background-color: rgba(248, 245, 245, 0.3);
}

.custom-homecontent-container {
  max-width: none !important;
  width: 1500px; /* 고정 너비 */
  height: 800px; /* 고정 높이 */
  margin: 0 auto; /* 중앙 정렬 */
  display: flex;
  flex-direction: column; /* 세로로 배치 */

  .home-container {
    @include background-color();
    width: 100%; /* 부모 컨테이너에 맞춤 */
    height: 100%; /* 부모 컨테이너의 높이를 채움 */
    display: flex; /* 내부 요소들을 가로로 배치 */
    flex-direction: row; /* 가로 정렬 */
    justify-content: space-between; /* 좌우 여백 분배 */

    margin: 0; /* Bootstrap의 여백 제거 */
    padding: 5px; /* Bootstrap의 여백 제거 */
    align-items: center; /* 수직 중앙 정렬 */
  }

  .calendar-section {
    width: 70%; /* 비율로 나눔 */
    height: 100%;
  }

  .userinfo-section {
    width: 30%; /* 비율로 나눔 */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.userinfo-section {
  display: flex; /* Flexbox로 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-direction: column; /* 내부 요소를 세로로 정렬 */
  padding: 0; /* 필요에 따라 패딩 조정 */

  .user-imageContainer {
    display: inline;
    margin: 10px;
    align-items: center;
    justify-content: center; /* 이미지 중앙 정렬 */

    .user-image {
      width: 230px;
      height: 230px;
      margin-bottom: -25px;
    }
  }
  .paper-container {
    margin-left: 12px;
    margin-bottom: 20px;
  }
}