.userinfo-section {
  display: flex; /* Flexbox로 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  flex-direction: column; /* 내부 요소를 세로로 정렬 */
  padding: 0; /* 필요에 따라 패딩 조정 */

  .user-imageContainer {
    display: inline;
    margin: 10px;
    align-items: center;
    justify-content: center; /* 이미지 중앙 정렬 */

    .user-image {
      width: 130px;
      height: 130px;
      margin-bottom: 20px;
    }
  }
  .paper-container {
    margin-left: 12px;
    margin-bottom: 20px;
  }
}