@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin border-radius {
  border: 1px solid black;
  border-radius: 5px;
}
@mixin background-color {
  background-color: rgba(248, 245, 245, 0.3);
}

.homecontent-container {
  width: 80%;
  height: 600px;
  margin: 40px auto; // 상단 마진과 중앙 정렬

  .home-container {
    @include background-color();
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: flex; // 내부 요소들을 가로로 배치하기 위해 flex 사용
    flex-direction: row;

    .content-container {
      margin: 0;
      height: 450px;
    }
    .login-container {
      display: flex;
      align-items: center; /* 수직 정렬 */
      justify-content: center; /* 가로 정렬 */
      height: 100%; /* 부모 Row의 높이를 채움 */
      min-height: 400px; /* 최소 높이를 명시적으로 설정 */
    }
  }
}
