form {
    width: 100%; /* 부모 Col의 너비를 완전히 채움 */
    height: 100%; /* 부모 Col의 높이를 완전히 채움 */
    display: flex;
    flex-direction: column; /* 자식 요소를 수직으로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */

    .mb-3 {
        width: 100%; /* 부모의 가로 크기를 완전히 채움 */
        display: flex; /* 필요하면 Flexbox 활성화 */
        flex-direction: column; /* 자식 요소를 수직으로 배치 */
    }
}

    .signUp-container{
        margin-top: 10px;
        .nav-link{
            font-size: smaller;
            color: rgb(8, 87, 223);
            font-weight: bold;
            &:hover{
                color: blue;
            }
        }
    }

    .findPw-container{
        margin-top: 10px;
        .nav-link{
            font-size: smaller;
            color: rgb(8, 87, 223);
            font-weight: bold;
            &:hover{
                color: blue;
            }
        }
    }

